<header class="header">
    <nav class="nav_bar">
        <a class="nav_bar-linck" href="/">Weather</a>
        <a class="nav_bar-linck" href="/about">About</a>
        <a class="nav_bar-linck" href="/help">Help</a>
    </nav>
    <h1 class="header_title">{{title}}</h1>
</header>